<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>user</key>
		<string>anklee</string>
		<key>userid</key>
		<string>1</string>
		<key>userGroup</key>
		<string>work</string>
		<key>userPWD</key>
		<string>123</string>
		<key>time</key>
		<date>2015-08-06T08:29:06Z</date>
	</dict>
	<key>2</key>
	<dict>
		<key>user</key>
		<string></string>
		<key>userid</key>
		<string></string>
		<key>userGroup</key>
		<string></string>
		<key>userPWD</key>
		<string></string>
		<key>time</key>
		<date>2015-08-06T08:29:06Z</date>
	</dict>
	<key>3</key>
	<dict>
		<key>user</key>
		<string></string>
		<key>userid</key>
		<string></string>
		<key>userGroup</key>
		<string></string>
		<key>userPWD</key>
		<string></string>
		<key>time</key>
		<date>2015-08-06T08:29:06Z</date>
	</dict>
	<key>4</key>
	<dict>
		<key>user</key>
		<string></string>
		<key>userid</key>
		<string></string>
		<key>userGroup</key>
		<string></string>
		<key>userPWD</key>
		<string></string>
		<key>time</key>
		<date>2015-08-06T08:29:06Z</date>
	</dict>
	<key>5</key>
	<dict>
		<key>user</key>
		<string></string>
		<key>userid</key>
		<string></string>
		<key>userGroup</key>
		<string></string>
		<key>userPWD</key>
		<string></string>
		<key>time</key>
		<date>2015-08-06T08:29:06Z</date>
	</dict>
</dict>
</plist>
