<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>msg1</key>
	<dict>
		<key>msgid</key>
		<string>1</string>
		<key>userid</key>
		<string>1</string>
		<key>user</key>
		<string>anklee</string>
		<key>text</key>
		<string>公告板第一条信息...</string>
		<key>time</key>
		<date>2015-08-05T07:55:43Z</date>
		<key>answer</key>
		<string>18</string>
		<key>likes</key>
		<string>8</string>
	</dict>
	<key>msg2</key>
	<dict>
		<key>msgid</key>
		<string>2</string>
		<key>userid</key>
		<string>1</string>
		<key>user</key>
		<string>Ann</string>
		<key>text</key>
		<string>公告板第二条信息&lt;出售：二手iPhone6一台&gt;</string>
		<key>time</key>
		<date>2015-08-06T07:55:43Z</date>
		<key>answer</key>
		<string>5</string>
		<key>likes</key>
		<string>3</string>
	</dict>
	<key>msg3</key>
	<dict>
		<key>msgid</key>
		<string>3</string>
		<key>userid</key>
		<string>1</string>
		<key>user</key>
		<string>anklee</string>
		<key>text</key>
		<string>&lt;失物招领&gt;今天下午在办公楼捡到钱包一个，内附美女照一张。请美女亲自上门认领，跟照片长的不像不给。</string>
		<key>time</key>
		<date>2015-08-05T07:55:43Z</date>
		<key>answer</key>
		<string>62</string>
		<key>likes</key>
		<string>19</string>
	</dict>
	<key>msg4</key>
	<dict>
		<key>msgid</key>
		<string>4</string>
		<key>userid</key>
		<string>1</string>
		<key>user</key>
		<string>anklee</string>
		<key>text</key>
		<string>公告板第四条信息...</string>
		<key>time</key>
		<date>2015-08-05T07:55:43Z</date>
		<key>answer</key>
		<string>18</string>
		<key>likes</key>
		<string>8</string>
	</dict>
	<key>msg5</key>
	<dict>
		<key>msgid</key>
		<string>5</string>
		<key>userid</key>
		<string>1</string>
		<key>user</key>
		<string>anklee</string>
		<key>text</key>
		<string>公告板第五条信息...</string>
		<key>time</key>
		<date>2015-08-05T07:55:43Z</date>
		<key>answer</key>
		<string>18</string>
		<key>likes</key>
		<string>8</string>
	</dict>
	<key>msg6</key>
	<dict>
		<key>msgid</key>
		<string>6</string>
		<key>userid</key>
		<string>1</string>
		<key>user</key>
		<string>anklee</string>
		<key>text</key>
		<string>公告板第六条信息...</string>
		<key>time</key>
		<date>2015-08-05T07:55:43Z</date>
		<key>answer</key>
		<string>18</string>
		<key>likes</key>
		<string>8</string>
	</dict>
	<key>msg7</key>
	<dict>
		<key>msgid</key>
		<string>7</string>
		<key>userid</key>
		<string>1</string>
		<key>user</key>
		<string>anklee</string>
		<key>text</key>
		<string>公告板第七条信息...&lt;没了&gt;</string>
		<key>time</key>
		<date>2015-08-05T07:55:43Z</date>
		<key>answer</key>
		<string>18</string>
		<key>likes</key>
		<string>8</string>
	</dict>
	<key>msg8</key>
	<dict>
		<key>msgid</key>
		<string></string>
		<key>userid</key>
		<string></string>
		<key>user</key>
		<string></string>
		<key>text</key>
		<string></string>
		<key>time</key>
		<string></string>
		<key>answer</key>
		<string></string>
		<key>likes</key>
		<string></string>
	</dict>
</dict>
</plist>
